
html, body { height: 100%; margin:0; padding:0; }

#wrapper{
  width: 100%;
}

#map {
  position:absolute;
  top:0;
  bottom:30%;
  width:100%;
}

#tl {
  position:absolute;
  top:70%;
  bottom:0;
  width:100%;
  background: aliceblue;
}
