// from map_tt.css
// 3 Nov 2016

html, body { height: 100%; margin:0; padding:0;}

.leaflet-zoom-animated {pointer-events: auto;}

#wrapper{
  width: 100%;
  height: 100%;
}

#map {
  position:absolute;
  top:0;
  bottom:20%;
  width:100%;
  background: aliceblue;
}
#tl {
  p { text-align: center; font-size: 2em; color: gainsboro; margin-top: 30px;}
}
#bloodhound {
  width: 100%;
  margin: 4px ;
}
#results {
  width: 95%;
  margin: 0 auto;
}
#results_inset {
  // background: #fff;
  td {padding: 2px !important;}
  th {color:aliceblue; background:darkgray;}
  tr:nth-child(odd) {background: #f2f2f2}
  // tr:nth-child(odd) {background: #FFF}
}
.popup-find-links {font-size: 1em !important;}
.span-link {
  text-decoration: underline; color: #336699; cursor:pointer;
}
.search-result-project {
  font-size: 1em;
  em {color: #993333; font-weight:bold;}
  // font-style: italic;
}
.place-card {
  padding: 3px;
  margin-bottom: 4px;
  background: #eeeee0;
}
.ul-segments {
  list-style:none;
  padding-left:0;
  li {display: block; border-bottom: 1px dashed lightgray; padding: 2px 0;}
  li b {color: #993333;}
}
.segment-when {
  p {font-weight:800; color:darkgreen; margin-bottom: 0; font-size: 1em;}
}
.panel {
  position:absolute;
  z-index: 5;
  // bottom: 21%;
  width: 250px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 0.8em;
  h3 {
      margin: 4px 0;
      text-align: center;
      font-weight: bold;
      color: darkgoldenrod;
    }
  table {width: 100%;}
  i {color: #336699; cursor:pointer; font-size: .9em;}
}
.left-panel {
  left: 40px;
  top: 10px;
  background: gainsboro;
}
#data {
  top: 8px;
  right: 0;
  background: beige;
}
#data_abstract {
  position: relative;
  margin: 0 4px 0;
  // background: #fff;
  // padding: 4px;
  // font-size: .7em;
}
#data_layers {
  position: relative;
  // height: 65%;
  margin: 0 4px 0;
  background: antiquewhite;
  padding: 4px;
  // font-size: .8em;
  // overflow-y: scroll;
  // overflow-x: hidden;
}
.project-card {
  margin: 4px 0;
  background: #fff;
  padding: 4px;
  p {margin-bottom: 4px;}
}
.project-card-title {
  font-size: 1.2em;
  color: darkgoldenrod;
}
.menu-header {
  display:block;
  background: floralwhite;
  // font-weight: 800;
  font-size: 1.1em;
  color: darkgray;
}
.modal-link {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

input[type=checkbox] {margin: 2px 0 0;}

#menu {
  position:absolute;
  top: 10px;
  height: 24px;
  right: 2px;
  width: 24px;
  background: white;
  border-radius: 3px;
  cursor:pointer;
  z-index: 100;
  text-align: center;
}
#tl {
  position:absolute;
  top:80%;
  bottom:0;
  width:100%;
  background: aliceblue;
}

.timeline-band-layer-inner {cursor:move;}
.timeline-segment-highlight {
  color: red;
}
.timeline-event-label, .timeline-date-label {
  font-family: Verdana, Geneva, sans-serif;
  font-size: smaller;
}
.timeline-event-tape {
  background-color: #993333;
  height: 6px;
}
.timeline-event-icon {
  img {vertical-align: top !important;}
}

.links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

.nodes circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

.loader {
  display:none;
  position: fixed;
  top:30%;
  left: 40%;
  z-index: 1000;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
