
html, body { height: 100%; margin:0; padding:0; }

#wrapper{
  width: 100%;
  height: 100%;
}

#map {
  position:absolute;
  top:0;
  bottom:20%;
  width:100%;
}

#tl {
  position:absolute;
  top:80%;
  bottom:0;
  width:100%;
  background: aliceblue;
}
/*#tl {
  position:absolute;
  top:80%;
  bottom:0;
  width:100%;
  background: aliceblue;
}*/

.timeline-event-label, .timeline-date-label {
  font-family: Verdana, Geneva, sans-serif;
}
.timeline-event-tape {
  background-color: #993333;
  height: 6px;
}
.timeline-date-label {
  font-size: .8em;
}
